<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl }}" />
    <link rel="shortcut icon" href="">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
    
    <!-- Twitter and Open Graph data -->
    <meta name="twitter:site" content="@aynesbekir">
    <meta name="twitter:creator" content="@aynesbekir">
    <meta property="og:site_name" content="{{ site.title }}" /> 
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    
    <!-- Card, title, type, description, and image may change per page -->
    {% if page.title %}
        <title>{{ page.title }}</title>
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{ page.title }}">
        <meta property="og:title" content="{{ page.title }}" /> 
        <meta property="og:type" content="article" />      
    {% else %}
        <title>{{ site.title }}</title>
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ site.title }}">
        <meta property="og:title" content="{{ site.title }}" />
        <meta property="og:type" content="website" />
    {% endif %}    
    {% if page.description %}
        <meta name="description" content="{{ page.description }}"> 
        <meta name="twitter:description" content="{{ page.description }}">
        <meta property="og:description" content="{{ page.description }}">
    {% else %}
        <meta name="description" content="{{ site.description }}"> 
        <meta name="twitter:description" content="{{ site.description }}">
        <meta property="og:description" content="{{ site.description }}">
    {% endif %}    
    {% if page.image %}
        <meta name="twitter:image" content="{{ site.url }}/img/{{ page.image }}" />
        <meta property="og:image" content="{{ site.url }}/img/{{ page.image }}" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
    {% else %}
        <meta name="twitter:image" content="{{ site.url }}/img/focus.jpeg" />
        <meta property="og:image" content="{{ site.url }}/img/focus.jpeg" />
    {% endif %}

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}/css/clean-blog.min.css" rel="stylesheet">

    <!-- Google Analytics -->   
    {% if jekyll.environment == 'production' %}{% include analytics.html %}{% endif %}
    
</head>
<body>
    <!-- Navigation -->
    {% include nav.html %}
    <header class="nav-bar" {% if page.url == "/" %}style="height: 110px !important"{% endif %}></header>
    
    {% unless page.index %}
    <div class="jumbotron jumbotron-fluid mb-0" {% if page.url == "/about.html" or page.url == "/contact.html" %}style="height: 220px !important"{% endif %}>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h1 class="display-3">{{page.title}}</h1>
                    <p class="lead">
                        {{page.subtitle}}
                    </p>
                </div>
            </div> 
        </div>
    </div>
    {% endunless %}

    {% if page.blogpost %}    
        {% for post in site.posts %}
            <header class="jumbotron jumbotron-fluid article-header">
                <div class="container header-text-outer px-0">
                    <div class="col-12 col-lg-10 offset-lg-1 col-xl-9 offset-xl-2 header-text-inner">
                        <h1 class="article-title"> {{ post.title }}</h1>
                            <h4>
                                <span class="text-muted">{{ post.subtitle }}</span>
                            </h4>
                        <small class="article-metadata text-muted mt-4 d-none d-md-block">
                            Published on
                            <time class="article-date">
                                {{ post.date | date_to_string }}
                            </time>
                        </small>
                    </div>
                </div>
            </header>   
        {% endfor %}     
    {% endif %}  